<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Socket IO Dashboard</title>
</head>
<body>
    <script src="/js/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="/js/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            const namespace = "/web";
            let CLIENT_ID;

            let socket = io(namespace);

            socket.on('connect', function() {
                socket.emit('web_connected', function (args) {
                    CLIENT_ID = args;
                    console.log("my client ID is: " + CLIENT_ID);
                });
                console.log("connection to server established")
            });

            socket.on('server_message', function(data) {
                console.log("server message: [" + data.id + "] " + data.message)
            });

            let ping_pong_times = [];
            let start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                socket.emit('my_ping');
            }, 1000);

            socket.on('my_pong', function() {
                const latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                let sum = 0;
                for (let i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });
        });
    </script>

    <h1>Flask Socket IO Dashboard</h1>

    <p>Async mode is: <b>{{ async_mode }}</b></p>
    <p>Average ping/pong latency: <b><span id="ping-pong"></span> ms</b></p>
</body>
</html>