<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Socket IO Dashboard</title>
</head>
<body>
    <script src="/js/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="/js/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            const namespace = "/web";
            let CLIENT_ID;

            let socket = io(namespace);

            socket.on('connect', function() {
                socket.emit('web_connected', function (args) {
                    CLIENT_ID = args;
                    console.log("my client ID is: " + CLIENT_ID);
                });
                console.log("connection to server established")
            });

            socket.on('server_message', function(data) {
                console.log("server message: [" + data.id + "] " + data.message)
            });

            let ws_ping_pong_times = [];
            let ws_start_time;
            window.setInterval(function() {
                ws_start_time = (new Date).getTime();
                socket.emit('my_ping');
            }, 1000);

            socket.on('my_pong', function(data) {
                const latency = (new Date).getTime() - ws_start_time;
                ws_ping_pong_times.push(latency);
                ws_ping_pong_times = ws_ping_pong_times.slice(-30); // keep last 30 samples
                let sum = 0;
                for (let i = 0; i < ws_ping_pong_times.length; i++)
                    sum += ws_ping_pong_times[i];
                $('#ping-pong-ws').text(Math.round(10 * sum / ws_ping_pong_times.length) / 10);
            });

            let http_ping_pong_times = [];
            let http_start_time;
            window.setTimeout(function () {
                window.setInterval(function() {
                    http_start_time = (new Date).getTime();
                    $.get( "/ping", function(data) {
                        const latency = (new Date).getTime() - http_start_time;
                        http_ping_pong_times.push(latency);
                        http_ping_pong_times = http_ping_pong_times.slice(-30); // keep last 30 samples
                        let sum = 0;
                        for (let i = 0; i < http_ping_pong_times.length; i++)
                            sum += http_ping_pong_times[i];
                        $('#ping-pong-http').text(Math.round(10 * sum / http_ping_pong_times.length) / 10);
                    });
                }, 1000);
            }, 500);
        });
    </script>

    <h1>Flask Socket IO Dashboard</h1>

    <p>Async mode is: <b>{{ async_mode }}</b></p>
    <p>Average ping/pong latency (WS): <b><span id="ping-pong-ws"></span> ms</b></p>
    <p>Average ping/pong latency (HTTP): <b><span id="ping-pong-http"></span> ms</b></p>
</body>
</html>